body {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

.button {
  width: max-content;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 100px 16px;
  background-color: #eeee;
  min-height: 100vh;
  height: 100%;
}

#canvas {
  border: 1px solid #e0e0e0;
  z-index: 2;
}

.lower-canvas {
  position: initial !important;
}

.toolBar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #343232;
  padding: 8px 8px;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  &:empty {
    display: none;
  }
}

.settings {
  position: fixed;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  gap: 8px;
  display: flex;
  flex-direction: column;
  background-color: #343232;
  padding: 24px 8px;
  border-radius: 4px;
  text-align: left;
  &:empty {
    padding: 0;
  }
}
