:root {
  --font-body: "OpenSans";
  --font-body-bold: "OpenSans-Bold";
  --font-accent: "OpenSans";
  --font-accent-light: "OpenSans-Light";
  --font-accent-medium: "OpenSans-Medium";
  --font-accent-bold: "OpenSans-Bold";
}